Source: deltahex-editor
Maintainer: HajdaM <hajdam@users.sf.net>
Section: utils
Priority: optional
Standards-Version: 0.1.2
Build-Depends: default-jdk, debhelper (>= 8)

Package: deltahex-editor
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends},
Description: Free and open source hexadecimal viewer/editor and component written in Java.
HomePage: http://deltahex.exbin.org/
