[Desktop Entry]
Encoding=UTF-8
Name=BinEd Binary/Hexadecimal Editor
Comment=Free and open source hexadecimal viewer/editor and component written in Java.
Exec=bined
Icon=bined
Terminal=false
Type=Application
Categories=GNOME;Application;Utility;
StartupNotify=true
